<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <title>Eat Up Review</title>
</head>

<body>
    <div class="card bg-dark text-white">
        <img src="/picture/resti.jpg" class="vh-100 card-img" style="opacity: 0.2;" alt="table">
        <div class="card-img-overlay row d-flex">
            <div class="col-sm-8 align-self-center pl-3 pr-5">
                <h5 class="card-title">Eat Up Review</h5>
                <p class="card-text">Welcome to EatUpReview, the go-to app for foodies who love discovering new restaurants and sharing their experiences with others. With our easy-to-use platform, you can:</p>
                <div class="m-2">
                    <p class="card-text">- discover new restaurants in your area, from cozy neighborhood spots to high-end dining destinations</p>
                    <p class="card-text">- view photos and menus for each restaurant to get a sense of their vibe and cuisine</p>
                    <p class="card-text">- leave ratings and reviews to share your thoughts on the food, service, and overall dining experience</p>
                </div>    
                <p class="card-text">Whether you're a seasoned food critic or just someone who loves trying new things, EatUpReview has something for everyone. So why wait? Sign up today and start exploring the best restaurants in your city!</p>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="row align-self-center mx-auto pr-3">
                    <a class="btn btn-success btn-lg mb-3" href="/login" role="button">Login</a>
                    <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>